<div class="container">
  <h1><%= @list.name %></h1>
  <p class="btn btn-warning"><%= link_to "Add bookmark", new_list_bookmark_path(@list) %></p>
  <hr>
  <% @list.bookmarks.each do |bookmark| %>
    <div class="card-product p-3">
      <%# <img src="https://picsum.photos/300/200" /> %>
      <%= image_tag bookmark.movie.poster_url, alt: "movie", width: 200 %>
      <div class="card-product-infos">
        <h2><%= bookmark.movie.title %></h2>
        <p><%= bookmark.movie.overview %></p>
        <p class="text-danger"><em><%= bookmark.movie.rating %></em></p>
      </div>
      <p class="btn btn-warning"><%= link_to "Remove", bookmark_path(bookmark), method: :delete %></p>
    </div>
  <% end %>
  <hr>

  <p class="btn btn-warning"><%= link_to "All lists", lists_path %></p>
  <hr>
</div>
